#tweet-quote {
  float: left;
  margin: auto;
  padding: auto;
}

#quote-box {
  width: 50%;
  height: 50%;
  padding: 2% 5%;
  background-color: white;
  border-radius: 1%;
  margin: 12% 25%;
}

#text {
  font-size: 2.5em;
  text-align: center;
  line-height: 1.2em;
}

#author {
  font-size: 1.5em;
  text-align: right;
  margin-right: 30%;
  padding: 5% 0%;
}

#new-quote {
  float: right;
}
